# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
*.env
*.env.*

# dotenv file with secrets
.env

# VS Code settings
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Compiled files
*.so
*.out
*.o

# PyInstaller
dist/
build/
*.spec
